header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;

  padding: 4px 42px;
  box-sizing: border-box;

  background: #ffffff;
  box-shadow: 0 0 8px #ccc;

  width: 100%;
}

.logo {
  position: relative;

  background-image: url('../images/logo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  width: 120px;
  height: 38px;
}

.logo a {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  cursor: pointer;
}

.header-menu {
  display: flex;
  gap: 24px;

  font-size: 18px;
  line-height: 28px;
}

.header-menu__element {
  list-style: none;
  line-height: 28px;
}

.header-menu__element.is-active a {
  color: red;
}

.header-menu__element a {
  color: #000;
}

@media (min-width: 769px) {
  
}

@media (min-width: 1200px) {
  
}

@media (min-width: 1600px) {
  header {
    position: fixed;
    left: 50%;
    margin-left: -700px;

    width: 100%;
    max-width: 1400px;
  }

}
