@font-face {
  font-family: Helvetica;
  src: url('../fonts/Helvetica.woff2');
}

html {
  font-size: 14px;
  font-family: "Helvetica", sans-serif;
  font-optical-sizing: auto;
}

html, body {
  width: 100%;
  margin: 0px;
  background: #ccc;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 120px;

  background: #fff;

  overflow: hidden ;
}

section {
  display: flex;
  box-sizing: border-box;

  width: 100%;
  min-height: 600px;
}

#root {
  display: flex;
  width: 100%;
  max-width: 1400px;
  background: #fff;
  margin: 0 auto;
}

.main-banner {
  justify-content: space-between;
  padding: 24px 42px;
}

.go2contacts-btn {
  width: 211px;
  height: 78px;
  background: #2D2D2D;
  color: #fff;
  border: 2px solid #2D2D2D;
  transition: all 0.5s linear;
}

.go2contacts-btn:hover {
  background: #fff;
  color: #2D2D2D;
}

.info-text {
  width: 620px;
  height: 328;
}

p {
  font-size: 14px;
}